<a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
<a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> 
<a href="https://www.flaticon.com/authors/wanicon" title="wanicon">wanicon</a> 
<a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> 
<a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> 
<a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> 
<a href="https://www.flaticon.com/free-icon/leafs_2427590?term=recycle&page=6&position=77" title="Vitaly Gorbachev">Vitaly Gorbachev</a> 
<a href="https://www.flaticon.com/free-icon/recycle-bin_3037091" title="bqlqn">bqlqn</a>
<a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a>
from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Backend
  Python & Flask
Frontend
  Materializecss
Icons from
  srip, wanicon, xnimrodx, bqlqn, eucalyp and freepik on Flaticon

app by Paulo fzmz