html, body {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -khtml-user-select: none;

  height: 100%;
  margin: 0;
  align-content: center;
}

.main {
  margin-top: 10px;
  min-height: 100%;
  margin-bottom: -70px;
}

.footer,
.push {
  height: 50px;
}

.row {
  vertical-align: center;
}

.titlebar {
  text-align: center;
  margin: 10px 0;
  color: #43a047 ;
  font-weight: bold;
  font-size: x-large;
}

.tabs .tab a:hover {
  color: rgba(38, 166, 154, 0.2);

}

.tabs .tab a.active {
  background-color: rgba(38, 166, 154, 0.2);
  color:#000;
}

.tabs .indicator {
  background-color: white;
} /*Color of underline*/

.tab-icon {
  margin: 10px;
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

.input-field {
  margin-top: 0;
  margin-bottom: 0;
}

.flash-msg {
  text-align: center;
  color: red;
}

.icon-container {
  line-height: 1rem;
  align-content: center;
  vertical-align: middle;
}

img {
  position: relative;
  width: 30px;
  height: 30px;
}

/* label focus color */
.input-field input:focus + label {
  color: #ba68c8 !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #ba68c8 !important;
  box-shadow: 0 1px 0 0 #ba68c8 !important
}

/* Routes Menu */
.route-option {
  display: flex;
}

.pick-route {
  padding: 10px 20px;
}

.view-route {
  flex-grow: 1;
  float: right;
}

.see-icon {
  width: 20px;
  height: 20px;
  filter: contrast(10%);
}

/* Load View */
.product-icon {
  margin: auto auto;
  width: 40px;
  height: 40px;
}