{% extends "base.html" %}

{% block mainmenu %} 
<div class="row light-green">
  <div class="titlebar col s12 grey-text text-lighten-5">
    Rutas 
  </div>
</div>

<div class="pick-route row">

  <form action="#">

    {% if 'routes' in session:  %}
      {% for route in session['routes']: %}

        <div class="row">
          <div class="col m10 s10">
            <label>
              <input name="rutas" type="radio"/>
              <span>{{ session['routes'][route]['name'] }}</span>
            </label>
          </div>
          <div class="icon-container col m2 s2">
            <img class="modal-trigger see-icon" href="#{{ route }}" src="{{ url_for('static', filename='icons/eye.svg') }}">
          </div>
        </div>
      
      {% endfor %}
    {% endif %}

  </form>


  {% if 'routes' in session:  %}
  {% for route in session['routes']: %}

    <!-- Modal Structure -->
    <div id="{{ route }}" class="modal">
      <div class="modal-content">
        <h4>Listado {{ session['routes'][route]['name'] }}</h4>
        <ol>

          {% for client in session['routes'][route]['clients']: %}
            <li>{{ client['name'] }}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
      </div>
    </div>

  {% endfor %}
  {% endif %}

</div>

{% endblock %}

{% block end %}
{% endblock %}
