<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='icons/leafloading.svg') }}">

  <title>WeKüyen</title> 

  {% block head%} {% endblock %}

</head>
<body>

  {% if "user" in session %}

    <div class="row main">
      <div class="col s12">
        <ul class="tabs light-green white-text">
          <li class="tab col s3">
            <a class="active" href="#mainmenu">
              <img class="tab-icon" src="{{ url_for('static', filename='icons/route.svg') }}">
            </a>
          </li>
          <li class="tab col s3">
            <a href="#clientmenu">
              <img class="tab-icon" src="{{ url_for('static', filename='icons/adr.svg') }}">
            </a>
          </li>
          <li class="tab col s3">
            <a href="#reportmenu">
              <img class="tab-icon" src="{{ url_for('static', filename='icons/econtainer.svg') }}">
            </a>
          </li>
        </ul>
      </div>
      <div id="mainmenu" class="col s12">{% block mainmenu %} {% endblock %}</div>
      <div id="clientmenu" class="col s12">{% block clientmenu %} {% endblock %}</div>
      <div id="reportmenu" class="col s12">{% block reportmenu %} {% endblock %}</div>
    </div>

  {% endif %}

  {% block body %}{% endblock %}

  {% if "user" in session %}
  
      <div class="push"></div>
    </div>
    <footer class="page-footer light-green white-text">
      WeKüyen v0.1 ~ {{session["user"]}}
      <a class="grey-text text-lighten-4 right" href="{{url_for('login_menu.logout')}}">Salir</a>
    </footer>
  
  {% endif %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  {% if "user" in session %}

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
      });
    </script>

  {% endif %}
  
  {% block end %} {% endblock %}
    

</body>
</html>