{% extends "base.html"%}



{% block clientmenu %}

  <div class="titlebar row green green-text text-lighten-5">
    <div class="col s12">
      Clientes ruta_elegida
    </div>

    cliente_actual
    comentario
    link_maps
    <a href="https://wa.me/56967295090">link_wapp</a>
  </div>

{% endblock %}

{% block reportmenu %}
  <div class="titlebar row green green-text text-lighten-5">
    <div class="col s12">
      Registro de Carga 
    </div>
  </div>

  <form action="#">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Cliente</label>
      </div>
    </div>

    <div class="row">
      <p class="range-field">
        <div class="icon-container col s2">
          <img class="product-icon" src="{{ url_for('static', filename='icons/applewaste.svg') }}">
        </div>
        <div class="input-field col s10">
          <input type="range" id="test5" min="0" max="10" step="0.5" value="2" />
        </div>
      </p>
    </div>

    <div class="row">
      <p class="range-field">
        <div class="icon-container col s2">
          <img class="product-icon" src="{{ url_for('static', filename='icons/plastic-bottle.svg') }}">
        </div>
        <div class="input-field col s10">
          <input type="range" id="test5" min="0" max="10" step="0.5" value="0"/>
        </div>
      </p>
    </div>

    <div class="row">
      <p class="range-field">
        <div class="icon-container col s2">
          <img class="product-icon" src="{{ url_for('static', filename='icons/magazines.svg') }}">
        </div>
        <div class="input-field col s10">
          <input type="range" id="test5" min="0" max="10" step="0.5" value="0"/>
        </div>
      </p>
    </div>

    <div class="row">
      <p class="range-field">
        <div class="icon-container col s2">
          <img class="product-icon" src="{{ url_for('static', filename='icons/wine.svg') }}">
        </div>
        <div class="input-field col s10">
          <input type="range" id="test5" min="0" max="10" step="0.5" value="0"/>
        </div>
      </p>
    </div>

    <div class="row">
      <p class="range-field">
        <div class="icon-container col s2">
          <img class="product-icon" src="{{ url_for('static', filename='icons/tetrapack.svg') }}">
        </div>
        <div class="input-field col s10">
          <input type="range" id="test5" min="0" max="10" step="0.5" value="0"/>
        </div>
      </p>
    </div>

    <!-- <div class="row">
      <p class="range-field">
        <div class="icon-container col s2">
          <img class="product-icon" src="{{ url_for('static', filename='icons/plus.svg') }}">
        </div>
        <div class="input-field col s10">
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Otro...</label>
        </div>
      </p>
    </div> -->

    <div class="row">
      <div class="col s2"></div>
      <div class="col s6"></div>
      <div class="col s4">
        <a class="waves-effect waves-light btn">Registrar</a>
      </div>
    </div>



  </form>
        
{% endblock %}


{% block end %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.autocomplete');
    console.log("EAEA");
    M.Autocomplete.init(elems, data={'Juanito': null, 'Anita': null, 'Carlitos': null});
  });
</script>
{% endblock %}
