{% extends "base.html" %}
{% block body %} 

  <div class="titlebar green-text text-darkten-5">
    WeKüyen
    <img src="{{ url_for('static', filename='icons/leafloading.svg') }}">
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p class="flash-msg"> {{msg}} </p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action=# method="POST" class="col s12">
    <div class="row">
      <div class="col s1"></div>
      <div class="input-field col s10">
        <input id="user" name="user" type="text" class="validate">
        <label for="user">Nombre</label>
      </div>
      <div class="col s1"></div>
    </div>
    <div class="row">
      <div class="col s1"></div>
      <div class="input-field col s10">
        <input id="password" name="password" type="password" class="validate">
        <label for="password">Pass</label>
      </div>
      <div class="col s1"></div>
    </div>

    {% if signup==True %}
      <div class="row">
        <div class="col s1"></div>
        <div class="input-field col s10">
          <input id="phone" name="phone" type="text" class="validate" value="+569">
          <label for="phone">Teléfono</label>
        </div>
        <div class="col s1"></div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col s8"></div>
      <div class="col s4">
        <button class="btn waves-effect waves-light" type="submit" name="action">Entrar</button>
      </div>
    </div>
  </form>

{% endblock %}
